@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Lato', sans-serif, Verdana, Arial;
  color: #212121;
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}
body:after {
  content: '';
  display: block;
  height: 100px;
}
.large-text { font-size: 1.7rem; }
.large-text.bold { width: 95%; }
.bold { font-weight: bold; }
.med-text { font-size: 1rem; }
.mid-large-text { font-size: 1.3rem; }
.small-text { font-size: 0.8rem;}

/**** Header Properties ****/
header {
  border-bottom: solid 0.2rem #3498db;
  display: flex;
  flex-flow: row wrap;
}
header img {
  margin-top: 0.3rem;
  margin-right: 0.4rem;
  width: 64px;
}
.center { 
  width: 50%;
  padding-top: 1.5rem;
}
.left { flex: 1; }
#h-left-inline { display: inline-flex; }
.left #h-left-inline {
  margin-left: 1rem;
  cursor: default; 
}
#search-mode fieldset {
    border-color: #F00;
    border-style: solid;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 1rem;
}
input[type="submit"]::-moz-focus-inner { border: 0; outline: none; }
input[type="submit"] {
  font-family: FontAwesome;
  border: 0 none;
  background-color: #ecf0f1;
  cursor: pointer;
  outline: 0;
}
input[type=radio] { display: none; }
input[type="radio"] + label {
  display: inline-block;
  margin: -0.1rem;
  margin-bottom: 0;
  padding: 0.4rem 1rem;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
  background-image: linear-gradient(to bottom,#fff,#e6e6e6);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type="radio"]:checked + label {
  background-image: none;
  outline: 0;
  background-color:#e0e0e0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}
#units-form { margin-right: 1rem; }

/**** Main Section Properties ****/
.main-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}
main {
  padding-bottom: 1rem;
  background-color: #fff;
  min-height: 100%;
}
main > p { margin: 0; }
#current-temp { 
  flex: 1.5;
  text-align: center;
  line-height: 1.5rem;
  border: 1px solid #bdc3c7;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
  padding-top: 1.5rem;
}
.row.today-forecast { 
  display: flex;
  flex-flow: row wrap;
}
#current-temp > p { 
  margin: 0;
  margin-top: 0rem;
  line-height: 2rem;
  padding-left: 1rem;
}
#today-temp .info-grp.med-text {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
#current-temp .icon-text-grp.info-grp {
  width: 50%;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}
#current-temp .icon-text-grp.info-grp > p {
  margin-top: 1rem;
}
#today-temp { 
  flex: 2;
  border: 1px solid #bdc3c7;
  border-radius: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#today-temp .info-grp { 
  flex: 2;
  border-radius: 1rem;
  text-align: left;
}
#today-temp .mid-large-text { margin-bottom: 0.7rem; }
#today-summary, #today-wind, #today-sun, #today-humidity { flex: 4; }
.icon-text-grp p { 
  flex: 1; 
  margin: 0;
  text-align: left;
}
.min-max, .future-forecast, .min-max.mid-large-text, .icon-text-grp
.today-forecast, .info-grp, #today-temp .info-grp.med-text   {
  display: flex;
  flex-flow: row wrap;
}
.icon-text-grp img { width: 26%; }
#today-min-max {
  margin: 0;
  margin-top: 1rem;
}
#today-min-max p { margin: 0.5rem; }
#today-min-max p:first-child {
  flex: 2;
  width: 50%;
}
#today-min-max p:last-child { flex: 2; }
.hourly-forecast {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin-bottom: 1rem;
}
.to-the-hour-icon { width: 64px; }
.rain-chance.icon-text-grp.hourly {
    width: 50%;
    margin: 0 auto;
    display: flex;
}
.hourly-icon { 
  height: 20px;
  padding-right: 0.5rem;
  padding-left: 0.3rem;
}
#current-weather-icon { width: 128px; }
.future-weather-icons { width: 96px; }
.daily-precip-icons {
    height: 25px;
    padding-right: 0.5rem;
}
#hour-1, #hour-2, #hour-3, #hour-4,
#hour-5, #hour-6, #hour-7, #hour-8 { 
  flex: 8;
  border: 1px solid #bdc3c7;
  border-radius: 1rem;
  margin-left: 0.7rem;
  
}
#hour-1 {
  padding-left: 0.5rem;
  margin-left: 0;
}
#tomorrow-1, #tomorrow-2, #tomorrow-3, #tomorrow-4{
  flex: 4;
  border: 1px solid #bdc3c7;
  border-radius: 1rem;
  margin-left: 1rem;
  text-align: center;
}
#tomorrow-1 { margin-left: 0; }
#tomorrow-1 > p, #tomorrow-2 > p, #tomorrow-3 > p, #tomorrow-4 > p { margin-bottom: 0.7rem; }
#tomorrow-1 > hr, #tomorrow-2 > hr, #tomorrow-3 > hr, #tomorrow-4 > hr { margin-bottom: 0.5rem; }
#tomorrow-1 .icon-text-grp.info-grp, #tomorrow-2 .icon-text-grp.info-grp,
#tomorrow-3 .icon-text-grp.info-grp, #tomorrow-4 .icon-text-grp.info-grp {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 90%;
  margin: 0 auto;
}
.min-max.mid-large-text p:first-child, 
.min-max.mid-large-text p:nth-child(2),
.min-max.mid-large-text div:last-child { flex: 3; }
.rain-chance.icon-text-grp.daily {
  display: flex;
  margin: 1.4rem 0;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(52, 73, 94, 0.75), rgba(0, 0, 0, 0));
  width: 95%;
  margin: 0;
}
.min { color: #2980b9; }
.max { color: #c0392b; }
a { text-decoration: none; outline: 0; }
a:link { color: #c26767; }
a:visited { color: #c49c6b; }
a:hover { color: #6a8fc2; }
a:active { color: #67bd96; }
a:focus { color: #bbc26a; }

/**** Footer Properties ****/
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: 0.1rem;
  border-top: solid 0.2rem #3498db;
}
footer .center { padding-top: 0; }
footer div { display: inline-block; }
footer div > i { color: #2c3e50; }
footer div > i:hover { cursor: pointer;  color: #c0392b; }
header, footer { background-color: #ecf0f1; }

/**** Modal Window Properties ****/
.modal {
  position: absolute;
  z-index: 1000;
  padding: 3rem;
  padding-bottom: 1.5rem;
  background-color: #555;
  cursor: default;
  border-radius: 1rem;
}
.modal-content {
  background-color: #ecf0f1;
  padding: 2.2rem;
  border-radius: 1rem;
  line-height: 1.rem;
}
#ul-info { 
  padding-left: 1.5rem;
  font-family: monospace;
}
#weather-info > p:first-child { margin-top: 0; }
#weather-info > div:last-child, #weather-info p { 
  text-align: center;
  margin-bottom: 0;
}
#weather-info > div:last-child { 
  padding-right: 2.2rem;
  margin-top: -0.5rem;
}
.modal-content li { 
  list-style-type: none;
  line-height: 1.5rem;
}
button.modal-close {
  background-color: #ed8e6c;
  color: #ecf0f1;
  border: none;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  margin: 0.8rem 0 0 0;
  float: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
button::-moz-focus-inner { border: 0; }
button:focus { outline:0;}
.modal-close { cursor: pointer; }
button.modal-close:hover { background-color: #ed612f; }
@media all and (max-width: 1029px) {
  .mid-large-text { font-size: 1rem; }
  .med-text { font-size: 0.9rem; }
  #today-temp { margin-bottom: 3rem; }
  .row.today-forecast { margin-bottom: -2.5rem; }
}
